.cards {
  margin: 0 120px;
}

.cards h2 {
  font-weight: 400;
  font-size: 16px;
  padding-top: 21px;
}

.cards p {
  font-size: 14px;
}


@media only screen and (max-width:595px) {
  .cards {
    margin: 0 10px;
  }
  .cards h2 {
    font-weight: 400;
    font-size: 14px;
    padding-top: 8px;
  }
  .cards p {
    font-size: 12px;
    font-weight: 400;
    color: #757575;
  }
  
}