.left-side {
  background-image: url("../../img/cosmetologist.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.left-side h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #ffffff;
  text-align: center;
  backdrop-filter: 10px;
}

.right-side h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  text-align: center;
}

.coupon p {
  text-align: center;
  padding: 4px;
  color: #ffffff;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 800;
  font-size: 18.3333px;
}
.bannner img {
  width: 382.78px;
  height: 200px;
}

/* category */

.cat h5 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 18.8354px;
}

@media only screen and (min-width: 992px) {
  .coupon {
    position: absolute;
    width: 220px;
    height: 31px;
    left: 1129px;
    background: #e8625d;
    border-radius: 5px;
  }
}
@media only screen and (min-width: 1400px) {
  .coupon {
    position: absolute;
    width: 220px;
    height: 31px;
    left: 1329px;
    background: #e8625d;
    border-radius: 5px;
  }
  .bannner img {
    width: 230px;
    height: 120.17px;
  }
}
