.home-card {
  width: 189px;
  height: 151px;
  background: #ffffff;
  box-shadow: 0px 5.07432px 25.3716px 2.96002px rgba(57, 57, 57, 0.15);
  border-radius: 17.9289px;
  position: relative;
}

.home-card img {
  position: absolute;
  width: 116px;
  height: 116px;
  top: -44px;
  /* display: block; */
  /* margin: auto; */
  left: 16%;
}

.home-card p {
  position: relative;
  top: 92px;
}
