.ascard {
  width: 222px;
  height: 232.94px;
  background: linear-gradient(48.55deg, #ffa500 -6.74%, #ffecca 120.59%);
  box-shadow: 0px 6px 30px 3.5px rgba(57, 57, 57, 0.15);
  border-radius: 27.503px;
  position: relative;
  padding: 25px;
}
.scard {
  position: relative;
  width: 221px;
  height: 232.94px;
  background: #ffffff;
  box-shadow: 0px 6px 30px 3.5px rgba(57, 57, 57, 0.15);
  border-radius: 27.503px;

  padding: 25px;
}
.ascard img {
  position: absolute;

  width: 159.56px;
  height: 225.61px;

  top: -48%;

  left: 16%;
}
.scard img {
  position: absolute;

  width: 159.56px;
  height: 225.61px;

  top: -48%;

  left: 16%;
}
.ascard p {
  position: relative;
  top: 65%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
}
.scard p {
  position: relative;
  top: 65%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}
.safe {
  margin-top: 150px;
  margin-bottom: 109px;
}
.safe img {
  width: 952px;
  height: 208px;
  display: block;
  margin: auto;
}


@media only screen and (max-width: 595px) {
  .ascard {
    width: 98px;
    height: 103.25px;
    background: linear-gradient(48.55deg, #ffa500 -6.74%, #ffecca 120.59%);
    box-shadow: 0px 6px 30px 3.5px rgba(57, 57, 57, 0.15);
    border-radius: 27.503px;
    position: relative;
    padding: 14px;
  }
  .ascard img {
    position: absolute;
  
    width: 120px;
    height: 100px;
    top: -48%;
    left: 16%;
  }
  .ascard p {
    position: relative;
    top: 65%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #ffffff;
  }

  .scard {
    position: relative;
    width: 110px;
    height: 115.25px;
    background: #ffffff;
    box-shadow: 0px 6px 30px 3.5px rgba(57, 57, 57, 0.15);
    border-radius: 27.503px;
    padding: 14px;
  }

  .scard img {
    position: absolute;
  
    width: 70.72px;
    height: 100px;
  
    top: -48%;
  
    left: 16%;
  }
  .scard p {
    position: relative;
    top: 65%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
  }
  .safe {
    margin-top: 57px;
    margin-bottom: 44px;
  }


}